.box {
  display: flex;
  justify-content: flex-end;
  /* text-align: ; */
  
}


.btn:hover{
  background: yellow;
  color: red;
  cursor: pointer;
}

.App-header {
  background-color: black;
  min-height: 100vh;

}

.App-text{
  color: white;
  font-size: calc(20px + 2vmin);
  letter-spacing: 10px;
  margin: 150px 0px 0px 2000px;
  display: flex;
}

.form{
  color: yellow;
  display: flex;
  margin: 300px 200px 0px 0px;
  padding-top: 90px;
}

.App-image {
  display: flex;
  justify-content: flex-start;
  height: 400px;
  margin-top: 80px;
}


.App-link {
  color: #61dafb;
}
