.box {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.btn:hover{
  background: yellow;
  color: red;
  cursor: pointer;
}

.App-header {
  background-color: black;
  min-height: 100vh;
}

.App-text{
  color: white;
  font-size: calc(20px + 2vmin);
  letter-spacing: 10px;
  position: relative;
  top: 150px;
  left: 500px;
  
}

.text-two{
  color: yellow;
  position: relative;
  top: 220px;
  left: 150px
}

.form{
  color: yellow;
  position: relative;
  top: 250px;
  right: 300px;
  display: grid;
  grid-template-columns: 200px;
  
}

.App-image {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  right: 300px;
  bottom: 100px;
  max-width: 30px;
  max-height: 3800px;
}

.flag {
  position: relative;
  left: 900px;
  bottom: 300px;
  opacity: 0.1;
  height: auto;
  width: auto;
  max-width: 10px;
  max-height: 20px;
}


.App-link {
  color: #61dafb;
}
