.box {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.btn:hover{
  background: yellow;
  color: red;
  cursor: pointer;
}

.App-header {
  background-color: black;
  min-height: 100vh;
}

.App-text{
  color: white;
  font-size: calc(20px + 2vmin);
  letter-spacing: 10px;
  position: relative;
  top: 150px;
  left: 500px;
  
}

.text-two{
  color: yellow;
  position: relative;
  top: 220px;
  left: 150px
}

.form{
  color: yellow;
  display: flex;
  position: relative;
  top: 250px;
  right: 300px;
}

.App-image {
  display: flex;
  justify-content: flex-start;
  height: 400px;
  margin-top: 80px;
}


.App-link {
  color: #61dafb;
}
